<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Css -->

<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'/>

<!-- Custom Css -->
<link rel='stylesheet' href='/stylesheets/Contact_Section.css'/>
<link rel='stylesheet' href='/stylesheets/DMANTZ_Home_Page.css'/>
<link rel='stylesheet' href='/stylesheets/Careers_Section.css'/>
<!-- Font awesome -->
<link rel='stylesheet' href='/bootstrap/css/font-awesome.min.css'/>
    
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top custom-navbar">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle toggle-button collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" onclick="brand()"><img class="img-responsive logo" src="images/logo.png" alt="..."></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse bg-black">
					<ul class="nav navbar-nav navbar-right">
					     <li><a href="tel:5554280940"><i class="fa fa-phone call" aria-hidden="true"></i>555-428-0940 </a></li>
					        <li class="pie"></li>
					        <li><a href="mailto:vaibhavdubey9@gmail.com"><i class="fa fa-envelope call" aria-hidden="true"></i>vaibhavdubey9@gmail.com	</a></li>
						<li><a href="#" onclick="home()">Home</a></li>
						<li class="about-us"><a href="#about" onclick="about()">About</a></li>
						<li><a href="#contact" onclick="contact()">Contact</a></li>
						<li class="active"><a href="careers">Careers</a></li>
					</ul>
				</div>
			</div>
		</nav>
<div class="container">
<h2>Careers</h2>
<div class="row">

	<h4>Associate Developers :</h4>

<p class="eligibility">Are you a B.Tech/M.Tech/MCA with lot of interest in Software Development. We evaluate you based on tests and interview and take you as Pre-Trainee.</p>
<div class="col-sm-4">
<div class="circle">
<span class="st11">Stage 1:</span> 
</div>
<ul class="developer"><li>
<p class="border-class"><span class="eligibility">3 months period :</span> As Pre-Trainee with Stipend.
     		We validate your passion to learn technology during this period. You will start learning technologies and more importantly adopt best ways of learning new technologies.<i class="fa fa-arrow-right right-arrow" aria-hidden="true"></i></p>
</li>
</ul>
</div>
<div class="col-sm-4">
<div class="circle">
<span class="st11">Stage 2:</span> 
</div>
<ul class="developer"><li>
<p class="border-class"><span class="eligibility"> 9 months period: </span> As Trainee with enhanced Stipend.</span>
	Speed up learning process and become a quality and speed coder during this time. One has to be open to adopt any technology in a quick and focused manner.Along with that you are expected to learn to think as solution provider. Also you are expected to learn value system of company, enhance communication skills, writing skills.
<i class="fa fa-arrow-right right-arrow" aria-hidden="true"></i></p>
</li>
</ul>
</div>
<div class="col-sm-4">
<div class="circle">
<span class="st11">Stage 3:</span> 
</div>
<ul class="developer"><li>
<p class="border-class"><span class="eligibility"> Application Developer: </span> Based on evaluation in Stage 2, you will be employed as Application Developer. We want to see you as passionate Application Developer, a wonderful team player. You should be willing to share your knowledge with new trainees.
	When you adopt passion and values at company, we see a long path that we can travel together providing value to our families, clients and community.
</p>
</li>
</ul>
</div>
<div class="col-sm-12">
<h4>Experienced Development Engineer/Leads:</h4>
<div class= "border-class">

<p>We would be glad to welcome you to be part of team if you can say 'YES' to your self for following.
		<ul><li>I have technical experience in areas where DMANTZ Technologies provides solutions.</li>
		<li>I bring passion in providing software solutions.</li>
	<li>I have passion to learn new technologies and love coding for making life better for society.</li>
    <li>I am a team player and success of team is most important for me.</li>
		<li>I am committed for success of client.</li>
		<li>I want to be part of best work culture that promotes respect for each other.</li>
	<li>I want to have rewarding & peaceful career with right balance of work and family life.</li>
	         <li>  I want to be a mentor for developers who want to grow in to my shoes.</li>
	          <li> I like to be part of community helping events.</li></ul>
	</p>
	</div>
</div>
<!-- <div class="col-md-6  padl0">
<div class="border-class pad gh">
	<p><span class="st1">Stage 1:</span> 3 months period : As Pre-Trainee with Stipend.</span>
     		We validate your passion to learn technology during this period. You will start learning technologies and more importantly adopt best ways of learning new technologies.</p></div></div>
<div class="col-md-6 padl0">
<div class="border-class padr gh">
	<p><span class="trainee"><span class="st1">Stage 2: </span> 9 months period: As Trainee with enhanced Stipend.</span>
	Speed up learning process and become a quality and speed coder during this time. One has to be open to adopt any technology in a quick and focused manner.Along with that you are expected to learn to think as solution provider. Also you are expected to learn value system of company, enhance communication skills, writing skills.
</p></div></div>
<div class="col-md-12 padl0">
<div class="border-class padr gh">
	<p><span class="trainee"><span class="st1">Stage 3: Application Developer </span> Based on evaluation in Stage 2, you will be employed as Application Developer. We want to see you as passionate Application Developer, a wonderful team player. You should be willing to share your knowledge with new trainees.
	When you adopt passion and values at company, we see a long path that we can travel together providing value to our families, clients and community.
<span class="trainee st1">Experienced Development Engineer/Leads:</span>

We would be glad to welcome you to be part of team if you can say 'YES' to your self for following.
		I have technical experience in areas where DMANTZ Technologies provides solutions.
		I bring passion in providing software solutions.
	I have passion to learn new technologies and love coding for making life better for society.
		I am a team player and success of team is most important for me.
		I am committed for success of client.
		I want to be part of best work culture that promotes respect for each other.
		I want to have rewarding & peaceful career with right balance of work and family life.
	           I want to be a mentor for developers who want to grow in to my shoes.
	           I like to be part of community helping events.
</p></div></div> -->
</div>
</div>
<script src="javascripts/jic_common.js"></script>
	<script src="javascripts/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	function about(){
		window.location = 'http://localhost:3004/DMANTZ_Home_Page#about';
	}
	function brand(){
		window.location = 'http://localhost:3004/DMANTZ_Home_Page#';
	}
	function home(){
		window.location = 'http://localhost:3004/DMANTZ_Home_Page#';
	}
	
	function contact(){
		window.location = 'http://localhost:3004/DMANTZ_Home_Page#contact';
	}
	$(function() {
		$( 'ul.nav li' ).on( 'click', function() {
			    $( this ).parent().find( 'li.active' ).removeClass( 'active' );
			    $( this ).addClass( 'active' );
				//document.aboutCookie = "";	
			    //if($(this).hasClass('about-us')){
			    	
			    	//document.aboutCookie = "about-active1";	
			    //}
			});
		
		});
	</script>
</body>