body {
    margin:0;
}
/*ul {*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
    /*background-color: cyan;*/
    /*position: fixed;*/
    /*width: 100%;*/
/*}*/

li {
    /*float: right;*/
}

li a {
    display: block;
    color: black;
    /*text-align: center;*/
    padding: 44px 16px;
    text-decoration: none;
    font-family: Times New Roman;
}

li a:hover {
    color: yellow;
}
.transbox {
    margin: 0px;
    background-color: white;
    border: 1px solid black;
    opacity: 0.95;
    filter: alpha(opacity=80); /* For IE8 and earlier */

}
.parallax {
    /* The image used */
    background-image: url("../images/three.jpeg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax1 {
    /* The image used */
    background-image: url('../images/four.jpg');

    /* Full height */
    height: 100%;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.parallax2 {
    /* The image used */
    background-image: url("../images/five.jpeg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#myBtn {

    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;

}
#myBtn:hover {
    background-color: lightblue;
}

.navbar  {
    overflow: hidden;
    background-color: grey;
    position: fixed;
     /*bottom: 20%;*/
    width: 100%;
    /*height:10%;*/
}
.navbar h2 {
    float: left;
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
}
/* for slide show */


/* body {
     margin: 0;
     padding: 0;
     background: #313131;
 }
 .slider {
     width: 1200px;
     height: 800px;
     background: url(images/two.jpeg);
     margin: 10px auto;
     animation: slide 20s infinite;
 } */
/* @keyframes slide {
     25% {
         background: url(images/one.jpg);
     }
     50% {
         background: url(images/two.jpeg);
     }
     75% {
         background: url(images/three.jpeg);
     }
     100% {
         background: url(images/five.jpeg);
     }
 } */
